# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.env
backup_info.json

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# OS
.DS_Store
Thumbs.db
